$block-colour-one: #fbffa7;
$block-colour-two: #d5b3ff; 
$block-colour-three: #ff764d; 
$block-colour-four: #b6ffc0; 
$block-colour-five: #b1c5ff; 


$highlight-colour: #0000ff; 

$primary-text-colour: black;


